
.button {
  border-radius: 5%;
 
  height: 160px;
  width: 285px;
  cursor:pointer;
  margin-right: 20px;
  display: inline-block;
  position: relative;
}

.term {
  display:none;
}

.definition{
  display:none;
}

.definition-enabled {
  display:block;
  margin: auto;
  position: absolute;
  width: 260px;
  top: 10%;
  left: 2%;
}

.term-enabled {
  display:block;
  margin: auto;
  
  position: absolute;
  top: 30%;
  left: 20%;
}

.term-mode{
  color:white;
  background-color: #337AB7;
 
  
}

.definition-mode {  
  border: 1px solid #337AB7;
  background-color: white;
  color: #337AB7;
  font-weight: bold;
 
 
}



