
.flex {
  margin-top: 30px;
  width:85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.button {
  border-radius: 5%;
 
  height: 160px;
  width: 285px;
  cursor:pointer;
  
  margin-top: 20px;
  text-align: center;
}

.term {
  display:none;
  margin: 0;
}

.definition{
  display:none;
  margin:0;
}

.definition-enabled {
  display:block;
}

.term-enabled {
  display:block;
}

.term-mode{
  color:white;
  background-color: #337AB7;  
}

.definition-mode {  
  border: 1px solid #337AB7;
  background-color: white;
  color: #337AB7;
  font-weight: bold;
}

.flex-button{
  display:flex;
  flex-direction: column;
  justify-content: center;
}



