div.flex{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.grid-container {
  width: 90%;
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(auto-fit, 285px);
 
  grid-auto-rows: 160px;
  grid-gap: 10px;
  justify-content: center;
  
}
.button {
  border-radius: 5%;
 
  /* height: 160px;
  width: 285px; */
  cursor:pointer;
  
  
  text-align: center;
}

.button.term-enabled:active{
  background-color: rgb(25, 78, 124);
}

.term {
  display:none;
  margin: 0;
}

.definition{
  display:none;
  margin:0;
}

.definition-enabled {
  display:block;
}

.term-enabled {
  display:block;
}

.term-mode{
  color:white;
  background-color: #337AB7;  
}

.definition-mode {  
  border: 1px solid  #337AB7;
  background-color: white;
  color: #337AB7;
  font-weight: bold;
}

.flex-button{
  display:flex;
  flex-direction: column;
  justify-content: center;
}



